input {
  background-color: transparent;
  padding: 10px 0 !important;
  margin-top: 1rem;
  border: none;
  border-bottom: 2px solid #265674;
  font-size: 1.1rem;
  color: #265674;
  font-weight: 500;
  min-height: none !important;
}
input:focus {
  outline: 0;
}

.transition-btn {
  margin: 16px 8px 0 8px;
  font-weight: 600;
  letter-spacing: 0.0625em;
  background-color: #007e8f;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 0.875em;
  line-height: 2;
  padding: 4px 16px 4px 16px;
}

.transition-btn:focus {
  outline: 0;
}

.transition-btn:hover {
  background-color: #006071;
  cursor: pointer;
}

.light-dark-btn {
  left: 12px;
  position: absolute;
}

h3.dark {
  color: white;
}

/* animation and transition */
.slide-leave-active,
.slide-enter-active {
  transition: 0.8s;
}
.slide-enter-from {
  transform: translate(200%, 0);
}
.slide-leave-to {
  transform: translate(-200%, 0);
}
.slideback-leave-active,
.slideback-enter-active {
  transition: 0.8s;
}
.slideback-enter-from {
  transform: translate(-200%, 0);
}
.slideback-leave-to {
  transform: translate(200%, 0);
}
